.container {
    padding: 24px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.action{
    display: flex;
    gap:10px;
}
::ng-deep .mat-mdc-raised-button {
    background: #200be1 !important;
    color:#fff !important;
}
